body{
    background-color: #000000;
}
input,select,textarea
{
font-family:inherit;
font-size:100%;
box-sizing:border-box;
width:150px;
border-radius:7px;
background-color:rgb(212, 224, 36);
}
input[type="file"]
{
    width:200px;
}
input[type="file"]
{
    font-size:1em;
    color:blue;
}
label,legend{
    color:aquamarine;
}
input[type="submit"]
{
    background-color:aquamarine;
    color:green;
    font-size:1em;
    font-family:inherit;
}
h1{
    color: aliceblue;
}
